.wrapper {
    .session_cart_wrapper {
        .container {
            .header_cart {
                background: #fff;
                margin: 20px 0 12px;
                color: #888;
                padding: 0 20px;
                border: 1px solid;
                header_cart_item {
                    border: 1px solid yellow;
                }
                header_cart_product {
                    color: #333;
                }
            }
            .cart_item {
                .item {

                }
                .item_product {
                    display: flex;
                    .thumbnail {
                        .thumbnail_img {
                            border: 1px solid green;
                            display: inline-block;
                        }
                    }
                    .product_name {
                        border: 1px solid green;
                        display: inline-block;
                    }
                    .variation {
                        border: 1px solid green;
                        display: inline-block;
                    }

                }
                .item_quantity {
                    width: 120px;
                    display: inline-flex;
                    height: 30px;
                    .btn_outline {
                        border: 1px solid #a8a8a8;
                        padding: 0 10px;
                        background: #fff;
                        .fa {
                            line-height: 30px;
                        }
                        &:hover {
                            background: #e5e5e5;
                        }
                    }
                    .btn_outline:focus {
                        outline: none;
                    }
                    .btn_add {
                        border-right:none;
                    }
                    .btn_buying {
                        border-left:none;
                    }
                    .input_number_product {
                        border-radius: 0;
                        padding: 6px 19px;
                        width: 50px;
                    }
                    .input_number_product:focus {
                        outline: none;
                    }
                }
            }
        }
    }
}