input:focus, select:focus, textarea:focus {
  outline: none;
}

.wrapper .session_delivery_wrapper {
  background: #fff;
  padding: 20px 0;
}
.wrapper .session_delivery_wrapper .container .shipping_form {
  border: 1px solid #dde2e4;
  padding-bottom: 20px;
}
.wrapper .session_delivery_wrapper .container .shipping_form .delivery_header {
  border-bottom: 1px solid #dde2e4;
}
.wrapper .session_delivery_wrapper .container .shipping_form .delivery_header .title {
  font-weight: bold;
  font-size: 16px;
  color: #202020;
  line-height: 35px;
}
.wrapper .session_delivery_wrapper .container .shipping_form .delivery_header .title .link_login {
  color: #2b9fb8;
  font-size: 13px;
  font-weight: 100;
}
@media (max-width: 480px) {
  .wrapper .session_delivery_wrapper .container .shipping_form .delivery_header .title {
    line-height: 20px;
  }
}
@media (max-width: 480px) {
  .wrapper .session_delivery_wrapper .container .shipping_form .delivery_header {
    padding: 10px 0 5px 0;
  }
}
.wrapper .session_delivery_wrapper .container .shipping_form .form_info_user {
  padding-top: 20px;
}
.wrapper .session_delivery_wrapper .container .shipping_form .form_info_user .form-group .lbl {
  text-align: right;
  padding-right: 25px;
}
.wrapper .session_delivery_wrapper .container .shipping_form .form_info_user .form-group .input {
  height: 32px;
  width: 50%;
}
.wrapper .session_delivery_wrapper .container .shipping_form .form_info_user .form-group .textarea {
  width: 50%;
  height: 100px;
}
.wrapper .session_delivery_wrapper .container .shipping_form .form_info_user .form-group .select {
  background: #fff;
}
.wrapper .session_delivery_wrapper .container .shipping_form .form_info_user .delivery_option_wrap {
  padding: 10px 0 30px 0;
}
.wrapper .session_delivery_wrapper .container .shipping_form .form_info_user .delivery_option_wrap .title {
  font-weight: bold;
  font-size: 16px;
  color: #202020;
  display: inline-block;
}
.wrapper .session_delivery_wrapper .container .shipping_form .form_info_user .delivery_option_wrap .delivery_options .delivery_options_item {
  display: flex;
}
.wrapper .session_delivery_wrapper .container .shipping_form .form_info_user .delivery_option_wrap .delivery_options .delivery_options_item .radio {
  margin: 10px;
}
.wrapper .session_delivery_wrapper .container .shipping_form .form_info_user .delivery_option_wrap .delivery_options .delivery_options_item .info_option_delivery .info_top {
  display: block;
  font-size: 12px;
}
.wrapper .session_delivery_wrapper .container .shipping_form .form_info_user .delivery_option_wrap .delivery_options .delivery_options_item .info_option_delivery .infor_bottom_date {
  font-size: 13px;
}
.wrapper .session_delivery_wrapper .container .shipping_form .form_info_user .btn_submit {
  background: #f36b2d;
  height: 40px;
  line-height: 40px;
  font-size: 15px;
  text-transform: uppercase;
  width: 50%;
  color: #fff;
  display: block;
  text-align: center;
  border: none;
  padding: 0;
  transition: background .35s ease-in-out;
}
.wrapper .session_delivery_wrapper .container .shipping_form .form_info_user .btn_submit:hover {
  background: #f58958;
  cursor: pointer;
}
.wrapper .session_delivery_wrapper .container .checkout {
  border: 1px solid #dde2e4;
}
.wrapper .session_delivery_wrapper .container .checkout .title {
  font-weight: bold;
  font-size: 16px;
  color: #202020;
  line-height: 35px;
}
.wrapper .session_delivery_wrapper .container .checkout .title .txt_quantity {
  font-size: 12px;
  color: grey;
}
.wrapper .session_delivery_wrapper .container .checkout .table {
  margin-bottom: 0;
  border-bottom: 1px solid #dde2e4;
}
.wrapper .session_delivery_wrapper .container .checkout .table .tr_thead {
  background: #fafafa;
}
.wrapper .session_delivery_wrapper .container .checkout .table .tr .th {
  text-transform: uppercase;
  color: grey;
  font-size: 13px;
  font-weight: 600;
}
.wrapper .session_delivery_wrapper .container .checkout .table .tr .th_quantity {
  text-align: center;
}
.wrapper .session_delivery_wrapper .container .checkout .table .tr .td {
  width: 75%;
  color: #202020;
}
.wrapper .session_delivery_wrapper .container .checkout .table .tr .td_quantity {
  text-align: center;
}
.wrapper .session_delivery_wrapper .container .checkout .table .tr .product_name {
  color: #202020;
}
.wrapper .session_delivery_wrapper .container .checkout .table .tr .product_name:hover {
  cursor: pointer;
}
.wrapper .session_delivery_wrapper .container .checkout .table .tr .txt_tmp {
  font-size: 13px;
}
.wrapper .session_delivery_wrapper .container .checkout .table .tr .txt_ship {
  color: #04bd00;
  font-size: 13px;
}
.wrapper .session_delivery_wrapper .container .checkout .table .tr .txt_total_price {
  font-weight: bold;
  font-size: 20px;
}
.wrapper .session_delivery_wrapper .container .checkout .delivery_wrap {
  padding: 7px 30px;
}
.wrapper .session_delivery_wrapper .container .checkout .delivery_wrap .delivery_time {
  display: inline-block;
}
.wrapper .session_delivery_wrapper .container .checkout .total_prices {
  background: #fafafa;
  padding: 0 10px;
  border-top: 1px solid #dde2e4;
}
.wrapper .session_delivery_wrapper .container .checkout .total_prices .pading5 {
  padding: 5px 0;
  font-size: 13px;
}
.wrapper .session_delivery_wrapper .container .checkout .total_prices .middle_total {
  border-bottom: 1px solid #dde2e4;
  color: #04bd00;
  padding-top: 0px;
}
.wrapper .session_delivery_wrapper .container .checkout .total_prices .bottom_total {
  padding: 15px 0 5px 0;
  font-weight: bold;
  font-size: 18px;
}
.wrapper .session_delivery_wrapper .container .checkout .total_prices .bottom_total .txt_total_price {
  color: #202020;
}
.wrapper .session_delivery_wrapper .container .checkout .total_prices .bottom_total .txt_total_price__price {
  color: #f57224;
}

/*# sourceMappingURL=delivery_information.css.map */
