.slick-arrow:hover {
  cursor: pointer;
  background: #ccc;
}

.slick-prev {
  background: red;
  left: 0;
}

.slick-next {
  background: red;
  right: 0;
}

.carousel-inner {
  height: 350px;
}

.wrapper {
  background: #f5f5f5;
}
.wrapper .header_with_search_wrapper {
  background: #ff5722;
  padding: 15px 0;
}
.wrapper .header_with_search_wrapper .container .header_with_search__logo > img {
  width: 35px;
}
.wrapper .header_with_search_wrapper .container .header_with_search__logo > span {
  color: #fff;
  font-weight: bold;
  font-size: 25px;
  vertical-align: middle;
}
.wrapper .header_with_search_wrapper .container .header_with_search__input_search .input_search {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: none;
}
.wrapper .header_with_search_wrapper .container .header_with_search__input_search .input_search:focus {
  outline: none;
}
.wrapper .header_with_search_wrapper .container .header_with_search__input_search .btn_search {
  color: #fff;
  border: 1px solid;
  border-radius: 4px;
  padding: 8px 20px;
  text-decoration: none;
  display: inline-block;
  margin-left: -15px;
}
.wrapper .header_with_search_wrapper .container .header_with_search__input_search .btn_search:hover {
  border-radius: 4px;
  cursor: pointer;
}
.wrapper .header_with_search_wrapper .container .header_with_search__input_search .header_with_search__cart {
  border: none;
}
.wrapper .header_with_search_wrapper .container .header_with_search__input_search .header_with_search__cart .fa-shopping-cart {
  font-size: 18px;
}
.wrapper .header_with_search_wrapper .container .header_with_search__input_search .header_with_search__cart .fa-shopping-cart:hover {
  cursor: pointer;
}
.wrapper .header_with_search_wrapper .container .header_with_search__input_search .header_with_search__cart > small {
  position: relative;
  bottom: 15px;
  right: 5px;
  border-radius: 4px;
  padding: 2px 4px;
}
.wrapper .header_with_search_wrapper .container .header_with_search__input_search .header_with_search__cart > small:hover {
  text-decoration: underline;
  cursor: pointer;
}
@media (max-width: 480px) {
  .wrapper .header_with_search_wrapper .container .header_with_search__input_search .btn_search {
    border: 1px solid #fff;
    border-radius: 0;
    margin-left: 0;
    background: #ff5619;
    width: 99%;
    text-align: center;
  }
  .wrapper .header_with_search_wrapper .container .header_with_search__input_search .btn_search:hover {
    border-radius: 4px;
    cursor: pointer;
  }
}
.wrapper .header_with_search_wrapper .container .header_with_search__authenticate > span {
  color: #fff;
  display: inline-block;
  padding: 8px 0;
}
.wrapper .header_with_search_wrapper .container .header_with_search__authenticate > span:hover {
  cursor: pointer;
  text-decoration: underline;
}
.wrapper .list_category {
  padding: 20px 0;
  background: #fff;
}
.wrapper .list_category .container .list_category__label {
  color: rgba(0, 0, 0, 0.8);
  text-transform: capitalize;
  font-weight: bold;
}
.wrapper .list_category .container .category_recommened_search__list {
  text-align: center;
}
.wrapper .list_category .container .category_recommened_search__list .category_recommened_search__item > a {
  color: #fff;
  background: #ff5619;
  text-decoration: none;
  border: 1px solid;
  border-radius: 3px;
  padding: 4px 30px;
}
.wrapper .list_category .container .category_recommened_search__list .category_recommened_search__item > a:hover {
  cursor: pointer;
  text-decoration: underline;
}
.wrapper .recommend_product_wrapper {
  border: 1px solid red;
}
.wrapper .recommend_product_wrapper .recommend_product_wrapper__header .recommend_product_wrapper__header_title {
  color: rgba(0, 0, 0, 0.54);
  font-weight: bold;
}
.wrapper .recommend_product_wrapper .recommend_product_wrapper__header .recommend_product_wrapper__header_title .update_time_label {
  color: rgba(0, 0, 0, 0.4);
  font-weight: normal;
}
.wrapper .recommend_product_wrapper .recommend_product_wrapper__header .recommend_product_wrapper__header_link {
  text-decoration: none;
  color: #ff5722;
}
.wrapper .recommend_product_wrapper .recommend_product_wrapper__header .recommend_product_wrapper__header_link:hover {
  text-decoration: underline;
}
.wrapper .recommend_product_wrapper .recommend_product_wrapper__content .recommend_product__item .recommend_product__item_cover_img {
  width: 100%;
}
.wrapper .recommend_product_wrapper .recommend_product_wrapper__content .recommend_product__item .recommend_product__item_cover_img .cover_img {
  width: 100%;
}
.wrapper .recommend_product_wrapper .recommend_product_wrapper__content .recommend_product__item .recommend_product__item_detail .recommend_product_text_name {
  overflow: hidden;
  height: 45px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  line-height: 21px;
}
.wrapper .recommend_product_wrapper .recommend_product_wrapper__content .recommend_product__item .recommend_product__item_detail .recommend_product_text_name:hover {
  color: #000;
}

/*# sourceMappingURL=index.css.map */
